<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UAm-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    <div class="container p-5">
        <h1>Url Shortner</h1>
        <form action="/shorturls" method="POST " class="form-inline my-2">
            <label for="fullUrl" class="sr-only"> Full Url </label>
            <input class="form-controlmr-2 col" required placeholder="Url" type="url" name="fullUrl" id="fullUrl">
            <button class="btn btn-success" type="submit">Submit</button>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Full URL</th>
                    <th> Short URL</th>
                    <th> Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                    <tr>
                        <td>
                            <a href="<%= shortUrl.full %>">
                                <%= shortUrl.full %>
                            </a>
                        </td>
                        <td>
                            <a href="<%= shortUrl.short %>">
                                <%= shortUrl.short %>
                            </a>
                        </td>
                        <td>
                            <%= shortUrl.clicks %>
                        </td>
                    </tr>
                    <% }) %>

            </tbody>
        </table>
    </div>
</body>

</html>